**
!LICENSE.md
!ATTRIBUTIONS.md
!cmake/
!cmake/**
!protocol/
!protocol/**
!libatrinik/
!libatrinik/**
!server/
!server/**

protocol/build/
libatrinik/build/
server/build/
!server/build/
server/build/*
!server/build/dependencies/
!server/build/dependencies/downloads/
!server/build/dependencies/downloads/*.tar.gz
!server/build/dependency-cache/
!server/build/dependency-cache/downloads/
!server/build/dependency-cache/downloads/*.tar.gz
server/data/
server/runtime/
server/resources/
server/server-data/
server/atrinik-server
server/libplugin_*.so
server/libplugin_*.dll
server/server-custom.cfg
server/*.pem
server/*.key
server/*.log
**/__pycache__/
**/*.pyc
